# Dependency directories
node_modules/

# Build output
build/

# Log files
*.log

# npm debug files
npm-debug.log*

# .env files (if you have any)
.env

# IDE/editor-specific files
.vscode/
.idea/

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

